.header-search-results {
    display: flex;
    align-items: center;
    z-index: 3;
    height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 25px auto;
    width: 638px;
    width: auto;
    max-width: 584px;
}

.header-search-results:hover,
.header-search-results:focus {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
    border-radius: 24px;
}

.search-input {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    height: 34px;
    margin-top: 5px;
    font-size: 16px;
}

.search-icon {
    width: 24px;
    height: 24px;
    margin-left: 1rem;
}
.microphone-icon {
    width: 22px;
    height: 28px;
    margin-right: 1rem;
}
