* {
    font-family: 'arial', 'san-serif';
}

body {
    margin: 0;
    padding: 0;
}

.flex-box-row {
    display: flex;
    flex: row;
}

/* ---- header styling ---- */

.flex-box-header {
    display: flex;
    justify-content: space-between;
}

header li {
    padding-right: 0.5rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
}

header a {
    text-decoration: none;
    color: inherit;
    font-size: 13px;
}

header a:hover,
header a:focus {
    text-decoration: underline;
}

.nav1 {
    display: flex;
    justify-content: flex-start;
}

.nav2 {
    margin-right: 1rem;
}

header ul {
    list-style: none;
    justify-content: flex-start;
}

/* ----main content styling */

.google-logo {
    height: 200px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.google-logo img  {
    position: relative;
    display: flex;
    width: 272px;
    height: 92px;
}

.search-area {
    display: flex;
    align-items: center;
    z-index: 3;
    height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 25px auto;
    width: 638px;
    width: auto;
    max-width: 584px;
}

.search-area:hover,
.search-area:focus {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
    border-radius: 24px;
}

.search-input {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    height: 34px;
    margin-top: 5px;
    font-size: 16px;
}

.search-icon {
    width: 24px;
    height: 24px;
    margin-left: 1rem;
}
.microphone-icon {
    width: 20px;
    height: 26px;
    margin-right: 1rem;
}

.search-buttons {
    display: flex;
    justify-content: center;
}

.search-buttons input {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.search-buttons input:hover {
    border: 1px solid #c0c0c0;
}

/* ---- styling the search results ---- */

.results-h1 {
   font-size: 32px; 
   font-weight: 500;
}


.results-styling {
    cursor: pointer;
    margin: 1rem 4rem;
}
